.input-txt textarea {
    width: 300px;
}

.input-txt input {
    width: 300px;
}

.mie-actual-form {
    width: 320 px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-int {
    width: auto;
    display: flex;
}

.input-int input {
    width: fit-content;
}