{% extends 'base.html' %}

{% block content %}
<h1 class="title">- INDOMIE KATALOG -</h1>
<h4 class="sub-title">est. 2023</h4>

<div class="center-page">
  <p class="about-us-title">
    About Us
  </p>

  <p class="about-us-par">
    Menurut chat gpt Indomie adalah salah satu merek mi instan yang sangat populer di Indonesia 
    dan mendapatkan pengakuan internasional. Mi instan ini merupakan produk yang sangat disukai 
    oleh masyarakat Indonesia dan bahkan telah memikat hati orang-orang di seluruh dunia. Apa yang 
    membuat Indomie begitu istimewa adalah rasa gurih dan tekstur mi yang kenyal, disertai dengan 
    beragam varian rasa yang memikat lidah.
      <br> <br>
    Namun menurut kami tidak seperti itu. Menurut kami indomie merupakan tulang punggung dari cita rasa
    bentuk nyata dari kata-kata murah, lezat, dan mengenyangkan. Oleh karena itu kami membuat website
    katalog ini untuk memberikat tribut kepada indomie
  </p>
</div>

<div class="center-page">
  <p class="about-us-title">
    Katalog (<a href="{% url 'mie:create-mie' %}">Tambahkan Mie</a>)
  </p>

  <p>Anda menyimpan: <strong>{{ total }} Indomie dalam katalog</strong></p>


  <form method="post" action="">
    <p class="filter">
      Filter by:
    </p>
    {% csrf_token %}
    <select name="filter_category">
      <option value="" disabled selected>Pilih kategori</option>
      <option value="MG">Indomie Goreng</option>
      <option value="MK">Indomie Kuah</option>
      <option value="HU">Harga Tertinggi</option>
      <option value="HL">Harga Terendah</option>
    </select>
    <input type="submit" value="filter">
  </form>
  <p>Filter berdasarkan: {{ filtered_by }}</p>
  <div class="mie-grid">
    {% for mie in mies %}
      <div class="mie-element">
        <p class="mie-name">{{ mie }}</p>
        <p class="mie-description">{{ mie.description }}</p>
        <p class="mie-price">Harga/bungkus: {{ mie.price }}</p>
        <p class="mie-stock">current stock: {{ mie.amount }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}