{% extends 'base.html' %} {% block content %}

<main class="screen">
  <div class="form-card">
    <div class="card-header">New Mie</div>
    <div class="card-body">
      <form class="actual-form" method="POST">
        {% csrf_token %}
        <div class="input-form">
          <label class="desc">Name:</label>
          {{ form.name }}
        </div>
        <div class="input-form">
          <label class="desc">Amount:</label>
          {{ form.amount }}
        </div>
        <div class="input-form">
          <label class="desc">Description: </label>
          {{ form.description }}
        </div>
        <div class="input-form">
          <label class="desc">Price:</label>
          {{ form.price }}
        </div>
        <div class="input-form">
          <label class="desc">Type:</label>
          {{ form.type }}
        </div>

        <div class="button-container">
          <a href="{% url 'mie:katalog' %}"
          ><input class="btn" type="button" value="Cancel"/>
          <input class="btn" type="submit" value="Save" />
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock content %}
