{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<main class="form-container">

  <div class="form">
    <h1>Register</h1>

    <form class="actual-form-register" method="POST">
      {% csrf_token %}
      <div class="uname">
        <p class="desc">Username: </p>
        {{ form.username }}
      </div>

      <div class="pass">
        <p class="desc">Password: </p>
        {{ form.password1 }}
      </div>

      <div class="pass">
        <p class="desc">Confirm Password: </p>
        {{ form.password2 }}
      </div>

      <input class="btn-submit" type="submit" value="Register">
    </form>

    <div class="messages">
      {% if messages %}
      {% for message in messages %}
      {{ message }}<br>
      {% endfor %}
      {% endif %}
    </div>


    <div class="reg-log">
      Don't have an account yet? <a href="{% url 'login' %}">Login</a>
    </div>
  </div>


</main>

{% endblock content %}